<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">View Contact</div>
    </div>
    <div class="form-group">
        <label>First Name</label>
        {{contact.firstName}}
    </div>

    <div class="form-group">
        <label>Sur Name</label>
        {{contact.surName}}
    </div>

    <div class="form-group">
        <label>Address</label>
        {{contact.address}}
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        {{contact.dateOfBirth}}
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        {{contact.phoneNumber}}
    </div>

    <div class="form-group">
        <label>IBAN</label>
        {{contact.iban}}
    </div>
</div>