<div class="container-fluid">

	<!-- <div class="row">
		<a routerLink="/contact/create" class="btn btn-primary">Create</a>
	</div> -->

	<div class="row">
	  <div class="col-lg-9" *ngIf="contacts && contacts.length != 0; else noContacts" >
		<div class="row">
			<div class="col-lg-3" *ngFor="let c of contacts">
				<div class="card">
					<div class="card-body">
					  <h5 class="card-title">{{ c.firstName }}</h5>
					  <p class="card-text">{{ c.surName }}</p>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
    <ng-template class="row" #noContacts>
      <h1>No Contacts Found</h1>
    </ng-template>
  
</div>